Repository kyma-project/control-plane, changes with the owners that CODEOWNERS names for each.
All owners: @PK85, @crabtree, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @koala7659, @rafalpotempa, @piotrmiskiewicz, @ksputo, @jasiu001, @k15r, @marcobebway, @nachtmaar, @radufa, @sayanh, @themue, @lilitgh, @piotrmsc, @kubadz, @strekm, @jakkab, @Tomasz-Smelcerz-SAP, @Demonsthere, @colunira, @ebensom, @fhivemind, @lauraanddola, @life0215, @lumi017, @klaudiagrz, @mmitoraj, @majakurcius, @alexandra-simeonova, @NHingerl, @m00g3n, @pPrecel, @dbadura, @rJankowski93

CODEOWNERS:

# This file provides an overview of code owners in the `control-plane` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `control-plane` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @PK85 @crabtree @tgorgol @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @koala7659 @rafalpotempa @piotrmiskiewicz @ksputo @jasiu001

# All developers working on this repository are able to edit main values.yaml file.
/resources/kcp/values.yaml @PK85 @crabtree @tgorgol @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @piotrmiskiewicz @ksputo @jasiu001 @koala7659 @rafalpotempa @k15r @marcobebway @nachtmaar @radufa @sayanh @themue

# All developers working on this repository are able to edit scripts directory.
/scripts @PK85 @crabtree @tgorgol @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @piotrmiskiewicz @ksputo @jasiu001 @koala7659 @rafalpotempa

# Registration job is used by provisioner and kyma-environment-broker
/resources/kcp/templates/registration-job.yaml @PK85 @crabtree @tgorgol @akgalwas @janmedrek @Szymongib @franpog859 @Maladie @piotrmiskiewicz @ksputo @jasiu001 @koala7659 @rafalpotempa

# Kyma Environment Broker
/resources/kcp/charts/kyma-environment-broker @PK85 @piotrmiskiewicz @ksputo @jasiu001 @crabtree
/components/kyma-environment-broker @PK85 @piotrmiskiewicz @ksputo @jasiu001 @crabtree
/docs/kyma-environment-broker @PK85 @piotrmiskiewicz @ksputo @jasiu001 @crabtree
/components/schema-migrator/migrations/kyma-environment-broker @PK85 @piotrmiskiewicz  @ksputo @jasiu001 @crabtree

# Runtime Provisioner
/resources/kcp/charts/provisioner @janmedrek @akgalwas @Szymongib @franpog859 @Maladie @koala7659 @rafalpotempa
/components/provisioner @janmedrek @akgalwas @Szymongib @franpog859 @Maladie @koala7659 @rafalpotempa
/docs/provisioner @janmedrek @akgalwas @Szymongib @franpog859 @Maladie @koala7659 @rafalpotempa
/components/schema-migrator/migrations/provisioner @janmedrek @akgalwas @Szymongib @franpog859 @Maladie @koala7659 @rafalpotempa
/tests/provisioner-tests @janmedrek @akgalwas @Szymongib @franpog859 @Maladie @koala7659 @rafalpotempa


# e2e-provisioning
/tests/e2e/provisioning @PK85 @piotrmiskiewicz @ksputo @jasiu001 @crabtree

# Kyma metrics collector
/resources/kcp/charts/kyma-metrics-collector @k15r @lilitgh @marcobebway @nachtmaar @radufa @sayanh @themue
/components/kyma-metrics-collector @k15r @lilitgh @marcobebway @nachtmaar @radufa @sayanh @themue

# OIDC-Kubeconfig-Service
/components/kubeconfig-service @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere @colunira
/resources/oidc-kubeconfig-service @piotrmsc @kubadz @strekm @jakkab @Tomasz-Smelcerz-SAP @Demonsthere @colunira

# KCP CLI
/tools/cli @ebensom @fhivemind @lauraanddola @life0215 @lumi017 @PK85 @piotrmiskiewicz @ksputo @jasiu001 @crabtree

# All .md files
*.md @klaudiagrz @mmitoraj @majakurcius @alexandra-simeonova @NHingerl

# Owners of the .kyma-project-io folder
/.kyma-project-io/ @m00g3n @pPrecel @tgorgol @dbadura @rJankowski93

Bump alpine to v3.14.0
  components/kyma-environment-broker/Dockerfile.cleanup
  components/kyma-environment-broker/Dockerfile.sac
  tests/e2e/provisioning/Dockerfile
Owners: @PK85, @piotrmiskiewicz, @ksputo, @jasiu001, @crabtree

Bump e2e_provisioning and kyma_environments_subaccount_cleanup_job to PR-857
  resources/kcp/values.yaml
Owners: @PK85, @crabtree, @tgorgol, @akgalwas, @janmedrek, @Szymongib, @franpog859, @Maladie, @piotrmiskiewicz, @ksputo, @jasiu001, @koala7659, @rafalpotempa, @k15r, @marcobebway, @nachtmaar, @radufa, @sayanh, @themue

WIP: print provisioningStep info in keb log
  components/kyma-environment-broker/internal/metrics/operation_duration.go
Owners: @PK85, @piotrmiskiewicz, @ksputo, @jasiu001, @crabtree

Changes as per PR comments
  components/kyma-metrics-collector/pkg/process/process.go
Owners: @k15r, @lilitgh, @marcobebway, @nachtmaar, @radufa, @sayanh, @themue

Changes as per PR comments
  components/kyma-metrics-collector/pkg/process/process_test.go
Owners: @k15r, @lilitgh, @marcobebway, @nachtmaar, @radufa, @sayanh, @themue

Moving Done() to the very end of processing
  components/kyma-metrics-collector/pkg/process/process.go
Owners: @k15r, @lilitgh, @marcobebway, @nachtmaar, @radufa, @sayanh, @themue
