Repository kyma-project/control-plane, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/Framefrog, @kyma-project/gopher, @tobiscr, @kyma-project/Jellyfish, @kyma-project/eventing, @ebensom, @lumi017, @AdrianPei, @gczuczy, @i332322, @zralt, @talszabi, @kwiatekus, @cortey, @kyma-project/technical-writers

CODEOWNERS:

# This file provides an overview of code owners in the `control-plane` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `control-plane` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/Framefrog @kyma-project/gopher

# All developers working on this repository are able to edit main values.yaml file.
/resources/kcp/values.yaml @kyma-project/Framefrog @tobiscr @kyma-project/Jellyfish @kyma-project/gopher @kyma-project/eventing

# All developers working on this repository are able to edit scripts directory.
/scripts @kyma-project/Framefrog @ebensom @kyma-project/gopher

# Registration job is used by provisioner and kyma-environment-broker
/resources/kcp/templates/registration-job.yaml @kyma-project/Framefrog @kyma-project/gopher

# Runtime Provisioner
/resources/kcp/charts/provisioner @kyma-project/Framefrog
/components/provisioner @kyma-project/Framefrog
/docs/provisioner @kyma-project/Framefrog
/components/schema-migrator/migrations/provisioner @kyma-project/Framefrog
/tests/provisioner-tests @kyma-project/Framefrog

# Reconciler
/resources/kcp/charts/component-reconcilers @tobiscr @kyma-project/Jellyfish
/resources/kcp/charts/mothership-reconciler @tobiscr @kyma-project/Jellyfish
/tools/reconciler @tobiscr @kyma-project/Jellyfish


# e2e-provisioning
/tests/e2e/provisioning @kyma-project/gopher @ebensom

# Kyma metrics collector
/resources/kcp/charts/kyma-metrics-collector @kyma-project/eventing
/components/kyma-metrics-collector @kyma-project/eventing

# OIDC-Kubeconfig-Service
/components/kubeconfig-service @ebensom @lumi017 @AdrianPei @gczuczy @i332322 @zralt @talszabi
/resources/oidc-kubeconfig-service  @ebensom @lumi017 @AdrianPei @gczuczy @i332322 @zralt @talszabi

# KCP CLI
/tools/cli @ebensom @lumi017 @kwiatekus @cortey @kyma-project/gopher @gczuczy @i332322 @zralt @talszabi

# reconciler
/components/reconciler @tobiscr @kyma-project/Jellyfish

# All .md files
*.md @kyma-project/technical-writers

Bumped k8s.io/api and removed unused code
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
  components/kyma-metrics-collector/pkg/testing/helpers.go
Owners: @kyma-project/eventing

switches provisioner build image from alpine to scratch (#3384)
  components/provisioner/Dockerfile
Owners: @kyma-project/Framefrog

Bumped k8s.io/api and removed unused code (#3385)
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
  components/kyma-metrics-collector/pkg/testing/helpers.go
Owners: @kyma-project/eventing

Remove region whitelisting
  components/provisioner/cmd/main.go
  components/provisioner/e2e_test/test.sh
  components/provisioner/go.mod
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/testdata/config.json
  components/provisioner/internal/api/validator.go
  components/provisioner/internal/api/validator_test.go
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

Fix imports
  components/provisioner/internal/api/resolver_integration_test.go
Owners: @kyma-project/Framefrog

bumps provisioner image
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

chore: bump KMC image
  resources/kcp/values.yaml
Owners: @kyma-project/Framefrog, @tobiscr, @kyma-project/Jellyfish, @kyma-project/gopher, @kyma-project/eventing

image bump
  resources/kcp/values.yaml
Owners: @kyma-project/Framefrog, @tobiscr, @kyma-project/Jellyfish, @kyma-project/gopher, @kyma-project/eventing

chore: bump KMC image (#3387)
  resources/kcp/values.yaml
Owners: @kyma-project/Framefrog, @tobiscr, @kyma-project/Jellyfish, @kyma-project/gopher, @kyma-project/eventing

bumps provisioner image (#3388)
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

Update README with gardener removal
  components/kyma-metrics-collector/README.md
  components/kyma-metrics-collector/dev/deployment.yaml
Owners: @kyma-project/technical-writers, @kyma-project/eventing

Remove OpenStack region whitelisting in Provisioner (#3386)
  components/provisioner/cmd/main.go
  components/provisioner/e2e_test/test.sh
  components/provisioner/go.mod
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/testdata/config.json
  components/provisioner/internal/api/validator.go
  components/provisioner/internal/api/validator_test.go
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

Bump image
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

Bump image (#3391)
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

Remove kubeconfig-service code
  components/kubeconfig-service/Dockerfile
  components/kubeconfig-service/Makefile
  components/kubeconfig-service/README.md
  components/kubeconfig-service/cmd/generator/main.go
  components/kubeconfig-service/go.mod
  components/kubeconfig-service/go.sum
  components/kubeconfig-service/pkg/authn/middleware.go
  components/kubeconfig-service/pkg/authn/middleware_test.go
  components/kubeconfig-service/pkg/authn/oidc.go
  components/kubeconfig-service/pkg/client/client.go
  components/kubeconfig-service/pkg/client/client_test.go
  components/kubeconfig-service/pkg/endpoints/endpoint.go
  components/kubeconfig-service/pkg/env/env.go
  components/kubeconfig-service/pkg/reload/doc.go
  components/kubeconfig-service/pkg/reload/reload.go
  components/kubeconfig-service/pkg/reload/watch.go
  components/kubeconfig-service/pkg/reload/watch_test.go
  components/kubeconfig-service/pkg/runtime/runtime.go
  components/kubeconfig-service/pkg/runtime/runtime_kcp.go
  components/kubeconfig-service/pkg/runtime/runtime_test.go
  components/kubeconfig-service/pkg/transformer/kubeconfig.go
  components/kubeconfig-service/pkg/transformer/transformer.go
  components/kubeconfig-service/pkg/transformer/transformer_test.go
  components/kubeconfig-service/run.sh
Owners: @ebensom, @lumi017, @AdrianPei, @gczuczy, @i332322, @zralt, @talszabi, @kyma-project/technical-writers

chore: bump KMC image
  resources/kcp/values.yaml
Owners: @kyma-project/Framefrog, @tobiscr, @kyma-project/Jellyfish, @kyma-project/gopher, @kyma-project/eventing

chore: bump KMC image (#3394)
  resources/kcp/values.yaml
Owners: @kyma-project/Framefrog, @tobiscr, @kyma-project/Jellyfish, @kyma-project/gopher, @kyma-project/eventing

Implement review comments
  components/kyma-metrics-collector/README.md
Owners: @kyma-project/technical-writers

Remove kubeconfig-service code (#3393)
  components/kubeconfig-service/Dockerfile
  components/kubeconfig-service/Makefile
  components/kubeconfig-service/README.md
  components/kubeconfig-service/cmd/generator/main.go
  components/kubeconfig-service/go.mod
  components/kubeconfig-service/go.sum
  components/kubeconfig-service/pkg/authn/middleware.go
  components/kubeconfig-service/pkg/authn/middleware_test.go
  components/kubeconfig-service/pkg/authn/oidc.go
  components/kubeconfig-service/pkg/client/client.go
  components/kubeconfig-service/pkg/client/client_test.go
  components/kubeconfig-service/pkg/endpoints/endpoint.go
  components/kubeconfig-service/pkg/env/env.go
  components/kubeconfig-service/pkg/reload/doc.go
  components/kubeconfig-service/pkg/reload/reload.go
  components/kubeconfig-service/pkg/reload/watch.go
  components/kubeconfig-service/pkg/reload/watch_test.go
  components/kubeconfig-service/pkg/runtime/runtime.go
  components/kubeconfig-service/pkg/runtime/runtime_kcp.go
  components/kubeconfig-service/pkg/runtime/runtime_test.go
  components/kubeconfig-service/pkg/transformer/kubeconfig.go
  components/kubeconfig-service/pkg/transformer/transformer.go
  components/kubeconfig-service/pkg/transformer/transformer_test.go
  components/kubeconfig-service/run.sh
Owners: @ebensom, @lumi017, @AdrianPei, @gczuczy, @i332322, @zralt, @talszabi, @kyma-project/technical-writers

docs: update README with gardener removal (#3389)
  components/kyma-metrics-collector/README.md
  components/kyma-metrics-collector/dev/deployment.yaml
Owners: @kyma-project/technical-writers, @kyma-project/eventing

update mapping according to ticket
  components/kyma-metrics-collector/pkg/testing/fixtures/static_providers.json
  resources/kcp/charts/kyma-metrics-collector/templates/public-cloud-info-config-map.yaml
Owners: @kyma-project/eventing

update mapping according to ticket (#3397)
  components/kyma-metrics-collector/pkg/testing/fixtures/static_providers.json
  resources/kcp/charts/kyma-metrics-collector/templates/public-cloud-info-config-map.yaml
Owners: @kyma-project/eventing

bump image
  resources/kcp/values.yaml
Owners: @kyma-project/Framefrog, @tobiscr, @kyma-project/Jellyfish, @kyma-project/gopher, @kyma-project/eventing

bump image (#3398)
  resources/kcp/values.yaml
Owners: @kyma-project/Framefrog, @tobiscr, @kyma-project/Jellyfish, @kyma-project/gopher, @kyma-project/eventing

Provisioner no longer registers runtime in the Compass Director, and creates the secret for Compass Runtime Agent
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/operations/executor.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/deprovisioning/wait_for_cluster_deletion.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_domain.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

Disable Compass integration in e2e tests
  components/provisioner/e2e_test/test.sh
Owners: @kyma-project/Framefrog

Adjust Unit tests for WaitingForClusterDomain for disabled Director integration
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_domain_test.go
Owners: @kyma-project/Framefrog

Adjust Unit tests for WaitForClusterDeletionStep for disabled Director integration
  components/provisioner/internal/operations/stages/deprovisioning/wait_for_cluster_deletion_test.go
Owners: @kyma-project/Framefrog

Adjust Unit tests for Executor for disabled Director integration
  components/provisioner/internal/operations/executor_test.go
Owners: @kyma-project/Framefrog

Small fix for logging initail configuration
  components/provisioner/cmd/main.go
Owners: @kyma-project/Framefrog

Env variable names fix
  resources/kcp/charts/provisioner/templates/deployment.yaml
Owners: @kyma-project/Framefrog

Returning empty nil value for CompassRuntimeID in OperationStatus when registration is disabled
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/service.go
Owners: @kyma-project/Framefrog

Add more logs to schema-migrator
  components/schema-migrator/main.go
Owners: @kyma-project/Framefrog, @kyma-project/gopher

Error handling
  components/schema-migrator/main.go
Owners: @kyma-project/Framefrog, @kyma-project/gopher

Consistent logs
  components/schema-migrator/main.go
Owners: @kyma-project/Framefrog, @kyma-project/gopher

Add more logs to schema-migrator (#3401)
  components/schema-migrator/main.go
Owners: @kyma-project/Framefrog, @kyma-project/gopher

Fix of used env variables for e2e tests
  components/provisioner/e2e_test/test.sh
Owners: @kyma-project/Framefrog

Fix typo in unit tests names of executor
  components/provisioner/internal/operations/executor_test.go
Owners: @kyma-project/Framefrog

Increase timeout for get cluster domain to 20m in e2e test
  components/provisioner/e2e_test/test.sh
Owners: @kyma-project/Framefrog

Some test for provisioning with e2e test
  components/provisioner/e2e_test/test.sh
Owners: @kyma-project/Framefrog
