Repository kyma-project/control-plane, changes with the owners that CODEOWNERS names for each.
All owners: @PK85, @akgalwas, @janmedrek, @franpog859, @ralikio, @mvshao, @VOID404, @koala7659, @piotrmiskiewicz, @szwedm, @wozniakjan, @hanngos, @tillknuesting, @k15r, @marcobebway, @nachtmaar, @ebensom, @tobiscr, @pbochynski, @varbanv, @m00g3n, @dbadura, @pPrecel, @kwiatekus, @moelsayed, @cortey, @pxsalehi, @clebs, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @jakobmoellersap, @adityabhatia, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @life0215, @lumi017, @AdrianPei, @lauraanddolay, @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

Fix missing quote around .Values.gardener.kubernetesVersion (#1995)
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

KCP CLI go mod tidy
  tools/cli/go.mod
  tools/cli/go.sum
Owners: @ebensom, @life0215, @lumi017, @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @m00g3n, @dbadura, @pPrecel, @kwiatekus, @moelsayed, @cortey, @ralikio, @hanngos, @tillknuesting

bump higher kubernetes go version (#1983)
  components/kubeconfig-service/go.mod
  components/kubeconfig-service/go.sum
  resources/oidc-kubeconfig-service/values.yaml
Owners: @ebensom, @life0215, @lumi017, @AdrianPei, @lauraanddolay

Improve dependabot PR filter
  scripts/dependabot_helper.bash
Owners: @PK85, @akgalwas, @janmedrek, @franpog859, @ralikio, @mvshao, @VOID404, @piotrmiskiewicz, @szwedm, @koala7659, @wozniakjan, @hanngos, @tillknuesting, @ebensom

update fluent bit for reconciler sidecar (#1960)
  resources/kcp/charts/mothership-reconciler/templates/auditlog-config.yaml
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
  resources/kcp/values.yaml
Owners: @tobiscr, @pbochynski, @varbanv, @m00g3n, @pPrecel, @kwiatekus, @dbadura, @moelsayed, @cortey, @clebs, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @jakobmoellersap, @adityabhatia, @PK85, @akgalwas, @janmedrek, @franpog859, @ralikio, @mvshao, @VOID404, @piotrmiskiewicz, @szwedm, @koala7659, @k15r, @marcobebway, @nachtmaar, @wozniakjan, @hanngos, @tillknuesting, @ebensom, @pxsalehi, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto

initial version
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/dto.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

values updated with PR ref
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

values updated with PR ref
  components/kyma-environment-broker/internal/broker/instance_create_test.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Improve dependabot PR filter (#1999)
  scripts/dependabot_helper.bash
Owners: @PK85, @akgalwas, @janmedrek, @franpog859, @ralikio, @mvshao, @VOID404, @piotrmiskiewicz, @szwedm, @koala7659, @wozniakjan, @hanngos, @tillknuesting, @ebensom

Adding back removed empty line
  README.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

Bumping old PR version to 1840
  resources/kcp/values.yaml
Owners: @PK85, @akgalwas, @janmedrek, @franpog859, @ralikio, @mvshao, @VOID404, @piotrmiskiewicz, @szwedm, @koala7659, @k15r, @marcobebway, @nachtmaar, @wozniakjan, @hanngos, @tillknuesting, @ebensom, @tobiscr, @pbochynski, @varbanv, @m00g3n, @dbadura, @pPrecel, @kwiatekus, @moelsayed, @cortey, @pxsalehi, @clebs, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @jakobmoellersap, @adityabhatia, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto

Kubeconfig field added to provisioning request (#2000)
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/dto.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Bump kyma_environment_broker images to PR-1723
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Remove sc-migration code
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/last_operation_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/cmd/broker/testdata/additional-runtime-components.yaml
  components/kyma-environment-broker/cmd/broker/testdata/kyma-components.yaml
  components/kyma-environment-broker/cmd/broker/testdata/managed-runtime-components.yaml
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/cmd/broker/upgrade_cluster_test.go
  components/kyma-environment-broker/cmd/broker/upgrade_kyma_test.go
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/component_input_helpers.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/conditions.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/provisioning/start_step.go
  components/kyma-environment-broker/internal/process/update/btp_operator_check.go
  components/kyma-environment-broker/internal/process/update/btp_operator_check_test.go
  components/kyma-environment-broker/internal/process/update/conditions.go
  components/kyma-environment-broker/internal/process/update/init_kyma_step.go
  components/kyma-environment-broker/internal/process/update/initialisation_step.go
  components/kyma-environment-broker/internal/process/update/sc_migration.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/apply_cluster_configuration.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/conditions.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/runtime/components_provider_test.go
  components/kyma-environment-broker/internal/runtime/testdata/additional-runtime-components.yaml
  components/kyma-environment-broker/internal/runtime/testdata/kyma-components.yaml
  components/kyma-environment-broker/internal/runtime/testdata/managed-runtime-components.yaml
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Bumping Reconciler:\n\nNo eu.gcr.io/kyma-project/incubator/reconciler/ changes.\n\n
  resources/kcp/values.yaml
Owners: @PK85, @akgalwas, @janmedrek, @franpog859, @ralikio, @mvshao, @VOID404, @piotrmiskiewicz, @szwedm, @koala7659, @k15r, @marcobebway, @nachtmaar, @wozniakjan, @hanngos, @tillknuesting, @ebensom, @tobiscr, @pbochynski, @varbanv, @m00g3n, @dbadura, @pPrecel, @kwiatekus, @moelsayed, @cortey, @pxsalehi, @clebs, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @jakobmoellersap, @adityabhatia, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto

Bumping Reconciler:\n\nNo eu.gcr.io/kyma-project/incubator/reconciler/ changes.\n\n (#1986)
  resources/kcp/values.yaml
Owners: @PK85, @akgalwas, @janmedrek, @franpog859, @ralikio, @mvshao, @VOID404, @piotrmiskiewicz, @szwedm, @koala7659, @k15r, @marcobebway, @nachtmaar, @wozniakjan, @hanngos, @tillknuesting, @ebensom, @tobiscr, @pbochynski, @varbanv, @m00g3n, @dbadura, @pPrecel, @kwiatekus, @moelsayed, @cortey, @pxsalehi, @clebs, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @jakobmoellersap, @adityabhatia, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto

trace orchestratio operation -s
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Remove sc-migration code (#1723)
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/last_operation_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/cmd/broker/testdata/additional-runtime-components.yaml
  components/kyma-environment-broker/cmd/broker/testdata/kyma-components.yaml
  components/kyma-environment-broker/cmd/broker/testdata/managed-runtime-components.yaml
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/cmd/broker/upgrade_cluster_test.go
  components/kyma-environment-broker/cmd/broker/upgrade_kyma_test.go
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/component_input_helpers.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/conditions.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/provisioning/start_step.go
  components/kyma-environment-broker/internal/process/update/btp_operator_check.go
  components/kyma-environment-broker/internal/process/update/btp_operator_check_test.go
  components/kyma-environment-broker/internal/process/update/conditions.go
  components/kyma-environment-broker/internal/process/update/init_kyma_step.go
  components/kyma-environment-broker/internal/process/update/initialisation_step.go
  components/kyma-environment-broker/internal/process/update/sc_migration.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/apply_cluster_configuration.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/conditions.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/runtime/components_provider_test.go
  components/kyma-environment-broker/internal/runtime/testdata/additional-runtime-components.yaml
  components/kyma-environment-broker/internal/runtime/testdata/kyma-components.yaml
  components/kyma-environment-broker/internal/runtime/testdata/managed-runtime-components.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

trace orchestration -s failed
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Drop rafter reconciler from control-plane configuration (#1666)
  .github/ISSUE_TEMPLATE/documentation-improvement.md
  .kyma-project-io/build-preview.sh
  .kyma-project-io/docs-kcp-cag.yaml
  .kyma-project-io/docs-keb.cag.yaml
  .kyma-project-io/docs-provisioner-cag.yaml
  docs/internal/runtime-upgrade.md
  resources/kcp/charts/mothership-reconciler/files/dashboard.json
  resources/kcp/values.yaml
  tools/cli/pkg/command/testdata/configVersionResponse.json
  tools/cli/pkg/command/testdata/reconciliationInfoResponse.json
  tools/reconciler/e2e-test/template-kyma-2-0-x.json
  tools/reconciler/e2e-test/template-kyma-2-1-x.json
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952, @m00g3n, @pPrecel, @dbadura, @kwiatekus, @cortey, @tobiscr, @pbochynski, @varbanv, @moelsayed, @clebs, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @jakobmoellersap, @adityabhatia, @PK85, @akgalwas, @janmedrek, @franpog859, @ralikio, @mvshao, @VOID404, @piotrmiskiewicz, @szwedm, @koala7659, @k15r, @marcobebway, @nachtmaar, @wozniakjan, @hanngos, @tillknuesting, @ebensom, @pxsalehi, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @life0215, @lumi017

KEB returns http 200 for an update of expired instances if no parameters are changed
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

wip
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

wip
  components/kyma-environment-broker/internal/suspension/handler.go
  components/kyma-environment-broker/internal/suspension/handler_test.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

wip
  components/kyma-environment-broker/cmd/broker/upgrade_kyma_test.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

wip
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

wip
  components/kyma-environment-broker/cmd/broker/upgrade_kyma_test.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Values Update
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/provisioning/get_kubeconfig_step.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Use runtime scheme per unit test thread
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/btp_operator_cleanup_test.go
  components/kyma-environment-broker/internal/test_utils.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

KEB returns http 200 for an update of expired instances (#2001)
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
  components/kyma-environment-broker/internal/suspension/handler.go
  components/kyma-environment-broker/internal/suspension/handler_test.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Change way of storing finishedstages
  components/kyma-environment-broker/common/runtime/model.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager_test.go
  components/kyma-environment-broker/internal/process/staged_manager_test.go
  components/kyma-environment-broker/internal/process/update/manager_test.go
  components/kyma-environment-broker/internal/runtime/converter.go
  components/kyma-environment-broker/internal/runtime/converter_test.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation_test.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

keb: introduce new operations metrics compass_keb_operation_result
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/metrics/operations_db_collector.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/postsql/factory.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Bump kyma_environment_broker images to PR-1992
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

keb: go generate ./...
  components/kyma-environment-broker/cmd/subscriptioncleanup/cloudprovider/mocks/ProviderFactory.go
  components/kyma-environment-broker/common/director/automock/GraphQLClient.go
  components/kyma-environment-broker/common/hyperscaler/automock/account_provider.go
  components/kyma-environment-broker/common/orchestration/automock/runtime_resolver.go
  components/kyma-environment-broker/common/orchestration/automock/strategy.go
  components/kyma-environment-broker/common/orchestration/runtime_lister_mock.go
  components/kyma-environment-broker/internal/appinfo/automock/instance_finder.go
  components/kyma-environment-broker/internal/broker/automock/plan_validator.go
  components/kyma-environment-broker/internal/broker/automock/queue.go
  components/kyma-environment-broker/internal/cis/automock/BrokerClient.go
  components/kyma-environment-broker/internal/cis/automock/CisClient.go
  components/kyma-environment-broker/internal/environmentscleanup/automock/BrokerClient.go
  components/kyma-environment-broker/internal/environmentscleanup/automock/GardenerClient.go
  components/kyma-environment-broker/internal/environmentscleanup/automock/ProvisionerClient.go
  components/kyma-environment-broker/internal/ias/automock/bundle.go
  components/kyma-environment-broker/internal/ias/automock/bundle_builder.go
  components/kyma-environment-broker/internal/kubeconfig/automock/kc_builder.go
  components/kyma-environment-broker/internal/process/deprovisioning/automock/edp_client.go
  components/kyma-environment-broker/internal/process/input/automock/components_disabler.go
  components/kyma-environment-broker/internal/process/input/automock/optional_component_service.go
  components/kyma-environment-broker/internal/process/provisioning/automock/director_client.go
  components/kyma-environment-broker/internal/process/provisioning/automock/edp_client.go
  components/kyma-environment-broker/internal/process/provisioning/automock/runtime_version_configurator_for_provisioning.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/runtime_version_configurator_for_upgrade.go
  components/kyma-environment-broker/internal/provisioner/automock/client.go
  components/kyma-environment-broker/internal/storage/automock/operations.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

keb: fix mockery generation args
  components/kyma-environment-broker/cmd/subscriptioncleanup/cloudprovider/factory.go
  components/kyma-environment-broker/common/director/client.go
  components/kyma-environment-broker/common/hyperscaler/account_provider.go
  components/kyma-environment-broker/internal/appinfo/runtime_info.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/cis/account_cleanup.go
  components/kyma-environment-broker/internal/environmentscleanup/service.go
  components/kyma-environment-broker/internal/ias/builder.go
  components/kyma-environment-broker/internal/ias/bundle.go
  components/kyma-environment-broker/internal/kubeconfig/handler.go
  components/kyma-environment-broker/internal/process/deprovisioning/edp_deregistration.go
  components/kyma-environment-broker/internal/process/provisioning/edp_registration.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/reconciler/client.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/postsql/factory.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

keb: update tests after mockery bump
  components/kyma-environment-broker/internal/environmentscleanup/service_test.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Use runtime scheme per unit test thread (#2006)
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/btp_operator_cleanup_test.go
  components/kyma-environment-broker/internal/test_utils.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Change way of storing finishedstages
  components/kyma-environment-broker/internal/storage/driver/postsql/operation_test.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Change way of storing finishedstages
  components/kyma-environment-broker/internal/storage/driver/postsql/operation_test.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

add userID when sending upgrade nofication msg
  components/kubeconfig-service/pkg/authn/middleware.go
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/command/send_slack_notification.go
  tools/cli/pkg/command/upgrade_cluster.go
  tools/cli/pkg/command/upgrade_kyma.go
  tools/cli/pkg/credential/manager.go
Owners: @ebensom, @life0215, @lumi017, @AdrianPei, @lauraanddolay, @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @m00g3n, @dbadura, @pPrecel, @kwiatekus, @moelsayed, @cortey, @ralikio, @hanngos, @tillknuesting

update kubeconfig-service tag
  resources/oidc-kubeconfig-service/values.yaml
Owners: @ebensom, @life0215, @lumi017, @AdrianPei, @lauraanddolay

CODEOWNERS:

# This file provides an overview of code owners in the `control-plane` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `control-plane` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @PK85 @akgalwas @janmedrek @franpog859 @ralikio @mvshao @VOID404 @koala7659 @piotrmiskiewicz @szwedm @wozniakjan @hanngos @tillknuesting

# All developers working on this repository are able to edit main values.yaml file.
/resources/kcp/values.yaml @PK85 @akgalwas @janmedrek @franpog859 @ralikio @mvshao @VOID404 @piotrmiskiewicz @szwedm @koala7659 @k15r @marcobebway @nachtmaar  @wozniakjan @hanngos @tillknuesting @ebensom @tobiscr @pbochynski @varbanv @m00g3n @dbadura @pPrecel @kwiatekus @moelsayed @cortey @pxsalehi @clebs @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @jakobmoellersap @adityabhatia @mfaizanse @friedrichwilken @vladislavpaskar @raypinto

# All developers working on this repository are able to edit scripts directory.
/scripts @PK85 @akgalwas @janmedrek @franpog859 @ralikio @mvshao @VOID404 @piotrmiskiewicz @szwedm @koala7659 @wozniakjan @hanngos @tillknuesting @ebensom

# Registration job is used by provisioner and kyma-environment-broker
/resources/kcp/templates/registration-job.yaml @PK85 @akgalwas @janmedrek @franpog859 @ralikio @mvshao @VOID404 @piotrmiskiewicz @szwedm @koala7659 @wozniakjan @hanngos @tillknuesting

# Kyma Environment Broker
/resources/kcp/charts/kyma-environment-broker @PK85 @piotrmiskiewicz @szwedm @wozniakjan @ebensom @ralikio @hanngos @tillknuesting
/components/kyma-environment-broker @PK85 @piotrmiskiewicz @szwedm @wozniakjan @ebensom @ralikio @hanngos @tillknuesting
/docs/kyma-environment-broker @PK85 @piotrmiskiewicz @szwedm @wozniakjan @ebensom @ralikio @hanngos @tillknuesting
/components/schema-migrator/migrations/kyma-environment-broker @PK85 @piotrmiskiewicz @szwedm @wozniakjan @ebensom @ralikio @hanngos @tillknuesting

# Runtime Provisioner
/resources/kcp/charts/provisioner @janmedrek @akgalwas @franpog859 @mvshao @VOID404 @koala7659
/components/provisioner @janmedrek @akgalwas @franpog859 @mvshao @VOID404 @koala7659
/docs/provisioner @janmedrek @akgalwas @franpog859 @mvshao @VOID404 @koala7659
/components/schema-migrator/migrations/provisioner @janmedrek @akgalwas @franpog859 @mvshao @VOID404 @koala7659
/tests/provisioner-tests @janmedrek @akgalwas @franpog859 @mvshao @VOID404 @koala7659

# Reconciler
/resources/kcp/charts/component-reconcilers @tobiscr @pbochynski @varbanv @m00g3n @pPrecel @kwiatekus @dbadura @moelsayed @cortey @clebs @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @jakobmoellersap @adityabhatia
/resources/kcp/charts/mothership-reconciler @tobiscr @pbochynski @varbanv @m00g3n @pPrecel @kwiatekus @dbadura @moelsayed @cortey @clebs @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @jakobmoellersap @adityabhatia
/tools/reconciler @tobiscr @pbochynski @varbanv @m00g3n @pPrecel @dbadura @moelsayed @kwiatekus @cortey @clebs @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @jakobmoellersap @adityabhatia


# e2e-provisioning
/tests/e2e/provisioning @PK85 @piotrmiskiewicz @szwedm @wozniakjan @ebensom @ralikio @hanngos @tillknuesting

# Kyma metrics collector
/resources/kcp/charts/kyma-metrics-collector @k15r @lilitgh @marcobebway @nachtmaar  @pxsalehi @mfaizanse @friedrichwilken @vladislavpaskar @raypinto
/components/kyma-metrics-collector @k15r @lilitgh @marcobebway @nachtmaar  @pxsalehi @mfaizanse @friedrichwilken @vladislavpaskar @raypinto

# OIDC-Kubeconfig-Service
/components/kubeconfig-service @ebensom @life0215 @lumi017 @AdrianPei @lauraanddolay
/resources/oidc-kubeconfig-service  @ebensom @life0215 @lumi017 @AdrianPei @lauraanddolay

# KCP CLI
/tools/cli @ebensom @life0215 @lumi017 @PK85 @piotrmiskiewicz @szwedm @wozniakjan @m00g3n @dbadura @pPrecel @kwiatekus @moelsayed @cortey @ralikio @hanngos @tillknuesting

# reconciler
/components/reconciler @m00g3n @dbadura @pPrecel @moelsayed @kwiatekus @cortey @clebs @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @jakobmoellersap @adityabhatia

# All .md files
*.md @klaudiagrz @mmitoraj @majakurcius @NHingerl @grego952

# Owners of the .kyma-project-io folder
/.kyma-project-io/ @m00g3n @pPrecel @dbadura @kwiatekus @cortey
