Repository kyma-project/control-plane, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/Framefrog, @kyma-project/gopher, @ebensom, @cortey, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @kyma-project/eventing, @tobiscr, @kwiatekus, @janmedrek, @lumi017, @AdrianPei, @gczuczy, @i332322, @zralt, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

CODEOWNERS:

# This file provides an overview of code owners in the `control-plane` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `control-plane` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/Framefrog @kyma-project/gopher

# All developers working on this repository are able to edit main values.yaml file.
/resources/kcp/values.yaml @kyma-project/Framefrog @ebensom @cortey @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @kyma-project/gopher @kyma-project/eventing

# All developers working on this repository are able to edit scripts directory.
/scripts @kyma-project/Framefrog @ebensom @kyma-project/gopher

# Registration job is used by provisioner and kyma-environment-broker
/resources/kcp/templates/registration-job.yaml @kyma-project/Framefrog @kyma-project/gopher

# Kyma Environment Broker
/resources/kcp/charts/kyma-environment-broker @kyma-project/gopher @ebensom
/components/kyma-environment-broker @kyma-project/gopher @ebensom
/docs/kyma-environment-broker @kyma-project/gopher @ebensom
/components/schema-migrator/migrations/kyma-environment-broker @kyma-project/gopher @ebensom

# Runtime Provisioner
/resources/kcp/charts/provisioner @kyma-project/Framefrog
/components/provisioner @kyma-project/Framefrog
/docs/provisioner @kyma-project/Framefrog
/components/schema-migrator/migrations/provisioner @kyma-project/Framefrog
/tests/provisioner-tests @kyma-project/Framefrog

# Reconciler
/resources/kcp/charts/component-reconcilers @tobiscr @kwiatekus @cortey @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @janmedrek
/resources/kcp/charts/mothership-reconciler @tobiscr @cortey @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @janmedrek
/tools/reconciler @tobiscr @cortey @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @janmedrek


# e2e-provisioning
/tests/e2e/provisioning @kyma-project/gopher @ebensom

# Kyma metrics collector
/resources/kcp/charts/kyma-metrics-collector @kyma-project/eventing
/components/kyma-metrics-collector @kyma-project/eventing

# OIDC-Kubeconfig-Service
/components/kubeconfig-service @ebensom @lumi017 @AdrianPei @gczuczy @i332322 @zralt
/resources/oidc-kubeconfig-service  @ebensom @lumi017 @AdrianPei @gczuczy @i332322 @zralt

# KCP CLI
/tools/cli @ebensom @lumi017 @kwiatekus @cortey @kyma-project/gopher @gczuczy @i332322 @zralt

# reconciler
/components/reconciler @kwiatekus @cortey @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin 

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

bump dependencies in KMC (#2828)
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
  resources/kcp/values.yaml
Owners: @kyma-project/eventing, @kyma-project/Framefrog, @ebensom, @cortey, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @kyma-project/gopher

Bump provisioner image
  resources/kcp/charts/provisioner/values.yaml
  resources/kcp/values.yaml
Owners: @kyma-project/Framefrog, @ebensom, @cortey, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @kyma-project/gopher, @kyma-project/eventing

Bump provisioner image (#2831)
  resources/kcp/charts/provisioner/values.yaml
  resources/kcp/values.yaml
Owners: @kyma-project/Framefrog, @ebensom, @cortey, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @kyma-project/gopher, @kyma-project/eventing

Stop configuring Compass Runtime Agent using compass-system namespace (#2817)
  components/provisioner/internal/runtime/configuration_test.go
  components/provisioner/internal/runtime/configurator.go
Owners: @kyma-project/Framefrog

Revert "bump dependencies in KMC (#2828)"
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
  resources/kcp/values.yaml
Owners: @kyma-project/eventing, @kyma-project/Framefrog, @ebensom, @cortey, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @kyma-project/gopher

Revert "bump dependencies in KMC (#2828)" (#2832)
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
  resources/kcp/values.yaml
Owners: @kyma-project/eventing, @kyma-project/Framefrog, @ebensom, @cortey, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @kyma-project/gopher

Update process without BTP operator additional component
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/update/btp_operator_overrides.go
Owners: @kyma-project/gopher, @ebensom

wip
  components/kyma-environment-broker/internal/process/upgrade_kyma/btp_operator_overrides.go
Owners: @kyma-project/gopher, @ebensom

Make the config change less invasive
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

Update without btp operator (#2836)
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/update/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/btp_operator_overrides.go
Owners: @kyma-project/gopher, @ebensom

Make audit config change less invasive (#2837)
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

Use regions
  components/provisioner/internal/gardener/auditlogging.go
  components/provisioner/internal/gardener/auditlogging_test.go
  components/provisioner/internal/gardener/testdata/config.json
Owners: @kyma-project/Framefrog

Bump image
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

initial version
  components/kyma-environment-broker/internal/process/staged_manager.go
  components/kyma-environment-broker/internal/process/staged_manager_test.go
Owners: @kyma-project/gopher, @ebensom

Fix integration
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/testdata/config.json
Owners: @kyma-project/Framefrog

Clean imports
  components/provisioner/internal/api/resolver_integration_test.go
Owners: @kyma-project/Framefrog

Use regions (#2838)
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/testdata/config.json
  components/provisioner/internal/gardener/auditlogging.go
  components/provisioner/internal/gardener/auditlogging_test.go
  components/provisioner/internal/gardener/testdata/config.json
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog
