Repository kyma-project/control-plane, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/Framefrog, @kyma-project/gopher, @tobiscr, @kyma-project/Jellyfish, @kyma-project/eventing, @ebensom, @lumi017, @AdrianPei, @gczuczy, @i332322, @zralt, @talszabi, @kwiatekus, @cortey, @kyma-project/technical-writers

CODEOWNERS:

# This file provides an overview of code owners in the `control-plane` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `control-plane` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/Framefrog @kyma-project/gopher

# All developers working on this repository are able to edit main values.yaml file.
/resources/kcp/values.yaml @kyma-project/Framefrog @tobiscr @kyma-project/Jellyfish @kyma-project/gopher @kyma-project/eventing

# All developers working on this repository are able to edit scripts directory.
/scripts @kyma-project/Framefrog @ebensom @kyma-project/gopher

# Registration job is used by provisioner and kyma-environment-broker
/resources/kcp/templates/registration-job.yaml @kyma-project/Framefrog @kyma-project/gopher

# Runtime Provisioner
/resources/kcp/charts/provisioner @kyma-project/Framefrog
/components/provisioner @kyma-project/Framefrog
/docs/provisioner @kyma-project/Framefrog
/components/schema-migrator/migrations/provisioner @kyma-project/Framefrog
/tests/provisioner-tests @kyma-project/Framefrog

# Reconciler
/resources/kcp/charts/component-reconcilers @tobiscr @kyma-project/Jellyfish
/resources/kcp/charts/mothership-reconciler @tobiscr @kyma-project/Jellyfish
/tools/reconciler @tobiscr @kyma-project/Jellyfish


# e2e-provisioning
/tests/e2e/provisioning @kyma-project/gopher @ebensom

# Kyma metrics collector
/resources/kcp/charts/kyma-metrics-collector @kyma-project/eventing
/components/kyma-metrics-collector @kyma-project/eventing

# OIDC-Kubeconfig-Service
/components/kubeconfig-service @ebensom @lumi017 @AdrianPei @gczuczy @i332322 @zralt @talszabi
/resources/oidc-kubeconfig-service  @ebensom @lumi017 @AdrianPei @gczuczy @i332322 @zralt @talszabi

# KCP CLI
/tools/cli @ebensom @lumi017 @kwiatekus @cortey @kyma-project/gopher @gczuczy @i332322 @zralt @talszabi

# reconciler
/components/reconciler @tobiscr @kyma-project/Jellyfish

# All .md files
*.md @kyma-project/technical-writers

dummy commit for teststing e2e tests
  components/provisioner/cmd/main.go
Owners: @kyma-project/Framefrog

Dummy change reverted
  components/provisioner/internal/api/resolver.go
Owners: @kyma-project/Framefrog

Add Github Action for running the Provisioner's unit tests (#3378)
  .github/workflows/provisioner-e2e-test.yaml
Owners: @kyma-project/Framefrog, @kyma-project/gopher

disable registering for e2e tests
  components/provisioner/e2e_test/test.sh
Owners: @kyma-project/Framefrog

Provisioner no longer registers runtime in the Compass Director, and creates the secret for Compass Runtime Agent (#3399)
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/e2e_test/test.sh
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/operations/executor.go
  components/provisioner/internal/operations/executor_test.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/deprovisioning/wait_for_cluster_deletion.go
  components/provisioner/internal/operations/stages/deprovisioning/wait_for_cluster_deletion_test.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_domain.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_domain_test.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

Update provsioner image to v20240312-b74ff6dd
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

Update provsioner image to v20240312-b74ff6dd (#3405)
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

removes PodSecurityPolicy shoot config
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/util/testkit/shoot.go
Owners: @kyma-project/Framefrog

Psp config removed (#3409)
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/util/testkit/shoot.go
Owners: @kyma-project/Framefrog

provisioner bump - removes PodSecurityPolicy shoot config
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

Psp config removed bump (#3410)
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

remove obsolete code for runtime registration deregistration in compass
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/deprovisioning/wait_for_cluster_deletion.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_domain.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
  components/provisioner/internal/runtime/configuration_test.go
  components/provisioner/internal/runtime/configurator.go
  components/provisioner/internal/runtime/mocks/Configurator.go
Owners: @kyma-project/Framefrog

working on unit tests
  components/provisioner/internal/operations/stages/deprovisioning/wait_for_cluster_deletion_test.go
  components/provisioner/internal/operations/stages/provisioning/connect_agent.go
  components/provisioner/internal/operations/stages/provisioning/connect_agent_test.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_domain_test.go
Owners: @kyma-project/Framefrog

Update unit test for wait for cluster domain step
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_domain_test.go
Owners: @kyma-project/Framefrog

working on unit tests for delete cluster step
  components/provisioner/internal/operations/stages/deprovisioning/delete_cluster_test.go
Owners: @kyma-project/Framefrog

continue working on full removing compass integration
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/operations/executor.go
  components/provisioner/internal/operations/executor_test.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
Owners: @kyma-project/Framefrog

remove director mock usage
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/operations/queue/queues_constructor.go
Owners: @kyma-project/Framefrog

remove director client
  components/provisioner/internal/director/directorclient.go
  components/provisioner/internal/director/directorclient_test.go
  components/provisioner/internal/director/mocks/DirectorClient.go
  components/provisioner/internal/director/model.go
  components/provisioner/internal/director/query.go
Owners: @kyma-project/Framefrog

go mod fixes
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/operations/executor.go
Owners: @kyma-project/Framefrog

Create istio-system namespace as part of create operator bindings step
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings_test.go
Owners: @kyma-project/Framefrog

Create istio-system namespace as part of create operator bindings step (#3415)
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings_test.go
Owners: @kyma-project/Framefrog

Update provsioner image to v20240320-dd88e90c
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

Update provsioner image to v20240320-dd88e90c (#3417)
  resources/kcp/charts/provisioner/values.yaml
Owners: @kyma-project/Framefrog

Use instanceID for fetching kubeconfig in e2e tests
  tests/e2e/provisioning/pkg/client/runtime/runtime_client.go
Owners: @kyma-project/gopher, @ebensom

Rename function
  tests/e2e/provisioning/pkg/client/runtime/runtime_client.go
Owners: @kyma-project/gopher, @ebensom

Use instanceID for fetching kubeconfig in e2e tests (#3418)
  tests/e2e/provisioning/pkg/client/runtime/runtime_client.go
Owners: @kyma-project/gopher, @ebensom

Remove Director references from e2e tests
  tests/e2e/provisioning/README.md
  tests/e2e/provisioning/go.mod
  tests/e2e/provisioning/go.sum
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
  tests/e2e/provisioning/pkg/client/runtime/runtime_client.go
  tests/e2e/provisioning/test/test_suite.go
Owners: @kyma-project/technical-writers, @kyma-project/gopher, @ebensom

wip
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
  tests/e2e/provisioning/pkg/client/runtime/runtime_client.go
  tests/e2e/provisioning/test/test_suite.go
Owners: @kyma-project/gopher, @ebensom

Bump director
  components/provisioner/go.mod
  components/provisioner/go.sum
Owners: @kyma-project/Framefrog

Remove Director references from e2e tests (#3419)
  tests/e2e/provisioning/README.md
  tests/e2e/provisioning/go.mod
  tests/e2e/provisioning/go.sum
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
  tests/e2e/provisioning/pkg/client/runtime/runtime_client.go
  tests/e2e/provisioning/test/test_suite.go
Owners: @kyma-project/technical-writers, @kyma-project/gopher, @ebensom
