Repository kyma-project/control-plane, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/Framefrog, @kyma-project/gopher, @ebensom, @cortey, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @kyma-project/eventing, @tobiscr, @kwiatekus, @janmedrek, @lumi017, @AdrianPei, @gczuczy, @i332322, @zralt, @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Removed Old Values Reference
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @kyma-project/gopher, @ebensom

Reverted Values.yaml Changes
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @kyma-project/gopher, @ebensom

Formatting Corrections
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
Owners: @kyma-project/gopher, @ebensom

bump keb images
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @kyma-project/gopher, @ebensom

Test Change
  components/kyma-environment-broker/cmd/broker/main.go
Owners: @kyma-project/gopher, @ebensom

Change AuditLog config format
  components/provisioner/internal/gardener/auditlogging.go
Owners: @kyma-project/Framefrog

Upgrade unit tests
  components/provisioner/internal/gardener/auditlogging_test.go
  components/provisioner/internal/gardener/testdata/config.json
Owners: @kyma-project/Framefrog

Apply suggestions
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/gardener/auditlogging.go
  components/provisioner/internal/gardener/auditlogging_test.go
  components/provisioner/internal/gardener/shoot_reconciler.go
Owners: @kyma-project/Framefrog

🧪 Fix integration tests
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/testdata/config.json
  components/provisioner/internal/gardener/auditlogging.go
Owners: @kyma-project/Framefrog

🪵 Improve logs
  components/provisioner/internal/gardener/auditlogging.go
  components/provisioner/internal/gardener/auditlogging_test.go
  components/provisioner/internal/gardener/shoot_reconciler.go
Owners: @kyma-project/Framefrog

🐳 Bump docker
  components/provisioner/go.mod
  components/provisioner/go.sum
Owners: @kyma-project/Framefrog

💅 Sort imports
  components/provisioner/internal/gardener/auditlogging.go
  components/provisioner/internal/gardener/auditlogging_test.go
Owners: @kyma-project/Framefrog

Remove testing compass-system namespace from tests
  components/provisioner/internal/runtime/configuration_test.go
Owners: @kyma-project/Framefrog

Added Missing ShootNetworkingFilterDisabled Field (#2818)
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
Owners: @kyma-project/gopher, @ebensom

Update values.yaml for PR-2818
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @kyma-project/gopher, @ebensom

Update values.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @kyma-project/gopher, @ebensom

Configure maxSurge equal to the number of znoes for enterprise plan runtimes
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_without_kyma_test.go
  components/kyma-environment-broker/internal/provider/aws_provider.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/gcp_provider.go
Owners: @kyma-project/gopher, @ebensom

Update values.yaml for PR-2818 (#2821)
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @kyma-project/gopher, @ebensom

align ut
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_without_kyma_test.go
Owners: @kyma-project/gopher, @ebensom

Add serverless to reconciler's exclusion list
  resources/kcp/charts/mothership-reconciler/values.yaml
Owners: @tobiscr, @cortey, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @janmedrek

Add serverless to reconciler's exclusion list (#2823)
  resources/kcp/charts/mothership-reconciler/values.yaml
Owners: @tobiscr, @cortey, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @janmedrek

Configure maxSurge equal to the number of znoes for enterprise plan runtimes (#2822)
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_without_kyma_test.go
  components/kyma-environment-broker/internal/provider/aws_provider.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/gcp_provider.go
Owners: @kyma-project/gopher, @ebensom

Bump KEB to the latest version
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @kyma-project/gopher, @ebensom

Bump KEB to the latest version (#2824)
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @kyma-project/gopher, @ebensom

aligning dependencies for /components/kubeconfig-service
  components/kubeconfig-service/go.sum
Owners: @ebensom, @lumi017, @AdrianPei, @gczuczy, @i332322, @zralt

bumping kcp cli go version to 1.20
  tools/cli/go.mod
Owners: @ebensom, @lumi017, @kwiatekus, @cortey, @kyma-project/gopher, @gczuczy, @i332322, @zralt

gomod(deps): bump github.com/spf13/viper from 1.12.0 to 1.16.0 in /tools/cli
  tools/cli/go.mod
Owners: @ebensom, @lumi017, @kwiatekus, @cortey, @kyma-project/gopher, @gczuczy, @i332322, @zralt

gomod(deps): bump golang.org/x/oauth2 from 0.6.0 to 0.8.0 in /tools/cli
  tools/cli/go.mod
Owners: @ebensom, @lumi017, @kwiatekus, @cortey, @kyma-project/gopher, @gczuczy, @i332322, @zralt

gomod(deps): bump golang.org/x/mod from 0.9.0 to 0.10.0 in /tools/cli
  tools/cli/go.mod
Owners: @ebensom, @lumi017, @kwiatekus, @cortey, @kyma-project/gopher, @gczuczy, @i332322, @zralt

gomod(deps): bump github.com/spf13/cobra from 1.6.0 to 1.7.0 in /tools/cli
  tools/cli/go.mod
Owners: @ebensom, @lumi017, @kwiatekus, @cortey, @kyma-project/gopher, @gczuczy, @i332322, @zralt

gomod(deps): bump github.com/int128/kubelogin from 1.25.1 to 1.27.0 in /tools/cli
  tools/cli/go.mod
Owners: @ebensom, @lumi017, @kwiatekus, @cortey, @kyma-project/gopher, @gczuczy, @i332322, @zralt

fixup! 🪵 Improve logs
  components/provisioner/internal/gardener/shoot_reconciler.go
Owners: @kyma-project/Framefrog

Audit log extension (#2811)
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/testdata/config.json
  components/provisioner/internal/gardener/auditlogging.go
  components/provisioner/internal/gardener/auditlogging_test.go
  components/provisioner/internal/gardener/shoot_reconciler.go
  components/provisioner/internal/gardener/testdata/config.json
Owners: @kyma-project/Framefrog

update runtime reconciler image
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @kyma-project/gopher, @ebensom

update runtime reconciler image (#2827)
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @kyma-project/gopher, @ebensom

bump dependencies
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
Owners: @kyma-project/eventing

tools/cli: aligning go mod and go sum with deps
  tools/cli/go.mod
  tools/cli/go.sum
Owners: @ebensom, @lumi017, @kwiatekus, @cortey, @kyma-project/gopher, @gczuczy, @i332322, @zralt

bumping kubeconfig-service image version in /resources/oidc-kubeconfig-service
  resources/oidc-kubeconfig-service/values.yaml
Owners: @ebensom, @lumi017, @AdrianPei, @gczuczy, @i332322, @zralt

update go version for kubeconfig-service and KCP CLI (#2829)
  components/kubeconfig-service/Dockerfile
  components/kubeconfig-service/go.mod
  components/kubeconfig-service/go.sum
  resources/oidc-kubeconfig-service/values.yaml
  tools/cli/go.mod
  tools/cli/go.sum
Owners: @ebensom, @lumi017, @AdrianPei, @gczuczy, @i332322, @zralt, @kwiatekus, @cortey, @kyma-project/gopher

bump image
  resources/kcp/values.yaml
Owners: @kyma-project/Framefrog, @ebensom, @cortey, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @kyma-project/gopher, @kyma-project/eventing

CODEOWNERS:

# This file provides an overview of code owners in the `control-plane` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `control-plane` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/Framefrog @kyma-project/gopher

# All developers working on this repository are able to edit main values.yaml file.
/resources/kcp/values.yaml @kyma-project/Framefrog @ebensom @cortey @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @kyma-project/gopher @kyma-project/eventing

# All developers working on this repository are able to edit scripts directory.
/scripts @kyma-project/Framefrog @ebensom @kyma-project/gopher

# Registration job is used by provisioner and kyma-environment-broker
/resources/kcp/templates/registration-job.yaml @kyma-project/Framefrog @kyma-project/gopher

# Kyma Environment Broker
/resources/kcp/charts/kyma-environment-broker @kyma-project/gopher @ebensom
/components/kyma-environment-broker @kyma-project/gopher @ebensom
/docs/kyma-environment-broker @kyma-project/gopher @ebensom
/components/schema-migrator/migrations/kyma-environment-broker @kyma-project/gopher @ebensom

# Runtime Provisioner
/resources/kcp/charts/provisioner @kyma-project/Framefrog
/components/provisioner @kyma-project/Framefrog
/docs/provisioner @kyma-project/Framefrog
/components/schema-migrator/migrations/provisioner @kyma-project/Framefrog
/tests/provisioner-tests @kyma-project/Framefrog

# Reconciler
/resources/kcp/charts/component-reconcilers @tobiscr @kwiatekus @cortey @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @janmedrek
/resources/kcp/charts/mothership-reconciler @tobiscr @cortey @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @janmedrek
/tools/reconciler @tobiscr @cortey @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @janmedrek


# e2e-provisioning
/tests/e2e/provisioning @kyma-project/gopher @ebensom

# Kyma metrics collector
/resources/kcp/charts/kyma-metrics-collector @kyma-project/eventing
/components/kyma-metrics-collector @kyma-project/eventing

# OIDC-Kubeconfig-Service
/components/kubeconfig-service @ebensom @lumi017 @AdrianPei @gczuczy @i332322 @zralt
/resources/oidc-kubeconfig-service  @ebensom @lumi017 @AdrianPei @gczuczy @i332322 @zralt

# KCP CLI
/tools/cli @ebensom @lumi017 @kwiatekus @cortey @kyma-project/gopher @gczuczy @i332322 @zralt

# reconciler
/components/reconciler @kwiatekus @cortey @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin 

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko
