Repository kyma-project/control-plane, changes with the owners that CODEOWNERS names for each.
All owners: @PK85, @akgalwas, @janmedrek, @franpog859, @ralikio, @mvshao, @VOID404, @koala7659, @piotrmiskiewicz, @szwedm, @wozniakjan, @hanngos, @tillknuesting, @k15r, @marcobebway, @nachtmaar, @ebensom, @tobiscr, @pbochynski, @varbanv, @m00g3n, @dbadura, @pPrecel, @kwiatekus, @moelsayed, @cortey, @pxsalehi, @clebs, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @jakobmoellersap, @adityabhatia, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto, @lilitgh, @life0215, @lumi017, @AdrianPei, @lauraanddolay, @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

CODEOWNERS:

# This file provides an overview of code owners in the `control-plane` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `control-plane` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @PK85 @akgalwas @janmedrek @franpog859 @ralikio @mvshao @VOID404 @koala7659 @piotrmiskiewicz @szwedm @wozniakjan @hanngos @tillknuesting

# All developers working on this repository are able to edit main values.yaml file.
/resources/kcp/values.yaml @PK85 @akgalwas @janmedrek @franpog859 @ralikio @mvshao @VOID404 @piotrmiskiewicz @szwedm @koala7659 @k15r @marcobebway @nachtmaar  @wozniakjan @hanngos @tillknuesting @ebensom @tobiscr @pbochynski @varbanv @m00g3n @dbadura @pPrecel @kwiatekus @moelsayed @cortey @pxsalehi @clebs @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @jakobmoellersap @adityabhatia @mfaizanse @friedrichwilken @vladislavpaskar @raypinto

# All developers working on this repository are able to edit scripts directory.
/scripts @PK85 @akgalwas @janmedrek @franpog859 @ralikio @mvshao @VOID404 @piotrmiskiewicz @szwedm @koala7659 @wozniakjan @hanngos @tillknuesting @ebensom

# Registration job is used by provisioner and kyma-environment-broker
/resources/kcp/templates/registration-job.yaml @PK85 @akgalwas @janmedrek @franpog859 @ralikio @mvshao @VOID404 @piotrmiskiewicz @szwedm @koala7659 @wozniakjan @hanngos @tillknuesting

# Kyma Environment Broker
/resources/kcp/charts/kyma-environment-broker @PK85 @piotrmiskiewicz @szwedm @wozniakjan @ebensom @ralikio @hanngos @tillknuesting
/components/kyma-environment-broker @PK85 @piotrmiskiewicz @szwedm @wozniakjan @ebensom @ralikio @hanngos @tillknuesting
/docs/kyma-environment-broker @PK85 @piotrmiskiewicz @szwedm @wozniakjan @ebensom @ralikio @hanngos @tillknuesting
/components/schema-migrator/migrations/kyma-environment-broker @PK85 @piotrmiskiewicz @szwedm @wozniakjan @ebensom @ralikio @hanngos @tillknuesting

# Runtime Provisioner
/resources/kcp/charts/provisioner @janmedrek @akgalwas @franpog859 @mvshao @VOID404 @koala7659
/components/provisioner @janmedrek @akgalwas @franpog859 @mvshao @VOID404 @koala7659
/docs/provisioner @janmedrek @akgalwas @franpog859 @mvshao @VOID404 @koala7659
/components/schema-migrator/migrations/provisioner @janmedrek @akgalwas @franpog859 @mvshao @VOID404 @koala7659
/tests/provisioner-tests @janmedrek @akgalwas @franpog859 @mvshao @VOID404 @koala7659

# Reconciler
/resources/kcp/charts/component-reconcilers @tobiscr @pbochynski @varbanv @m00g3n @pPrecel @kwiatekus @dbadura @moelsayed @cortey @clebs @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @jakobmoellersap @adityabhatia
/resources/kcp/charts/mothership-reconciler @tobiscr @pbochynski @varbanv @m00g3n @pPrecel @kwiatekus @dbadura @moelsayed @cortey @clebs @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @jakobmoellersap @adityabhatia
/tools/reconciler @tobiscr @pbochynski @varbanv @m00g3n @pPrecel @dbadura @moelsayed @kwiatekus @cortey @clebs @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @jakobmoellersap @adityabhatia


# e2e-provisioning
/tests/e2e/provisioning @PK85 @piotrmiskiewicz @szwedm @wozniakjan @ebensom @ralikio @hanngos @tillknuesting

# Kyma metrics collector
/resources/kcp/charts/kyma-metrics-collector @k15r @lilitgh @marcobebway @nachtmaar  @pxsalehi @mfaizanse @friedrichwilken @vladislavpaskar @raypinto
/components/kyma-metrics-collector @k15r @lilitgh @marcobebway @nachtmaar  @pxsalehi @mfaizanse @friedrichwilken @vladislavpaskar @raypinto

# OIDC-Kubeconfig-Service
/components/kubeconfig-service @ebensom @life0215 @lumi017 @AdrianPei @lauraanddolay
/resources/oidc-kubeconfig-service  @ebensom @life0215 @lumi017 @AdrianPei @lauraanddolay

# KCP CLI
/tools/cli @ebensom @life0215 @lumi017 @PK85 @piotrmiskiewicz @szwedm @wozniakjan @m00g3n @dbadura @pPrecel @kwiatekus @moelsayed @cortey @ralikio @hanngos @tillknuesting

# reconciler
/components/reconciler @m00g3n @dbadura @pPrecel @moelsayed @kwiatekus @cortey @clebs @jeremyharisch @khlifi411 @Tomasz-Smelcerz-SAP @ruanxin @jakobmoellersap @adityabhatia

# All .md files
*.md @klaudiagrz @mmitoraj @majakurcius @NHingerl @grego952

# Owners of the .kyma-project-io folder
/.kyma-project-io/ @m00g3n @pPrecel @dbadura @kwiatekus @cortey

Change way of storing finishedstages
  tools/cli/pkg/command/runtime.go
Owners: @ebensom, @life0215, @lumi017, @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @m00g3n, @dbadura, @pPrecel, @kwiatekus, @moelsayed, @cortey, @ralikio, @hanngos, @tillknuesting

some corrections
  docs/kyma-environment-broker/03-15-trial-cleanup-cronjob.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

review remarks
  docs/kyma-environment-broker/03-15-trial-cleanup-cronjob.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

more review remarks
  docs/kyma-environment-broker/03-15-trial-cleanup-cronjob.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

more and more review remarks
  docs/kyma-environment-broker/03-15-trial-cleanup-cronjob.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

removing oidc-kubeconfig-service as it will be managed by argo-cd
  installation/resources/installer-cr.yaml.tpl
Owners: @PK85, @akgalwas, @janmedrek, @franpog859, @ralikio, @mvshao, @VOID404, @koala7659, @piotrmiskiewicz, @szwedm, @wozniakjan, @hanngos, @tillknuesting

review remark
  docs/kyma-environment-broker/03-15-trial-cleanup-cronjob.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

review remarks again
  docs/kyma-environment-broker/03-15-trial-cleanup-cronjob.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

Update docs
  docs/kyma-environment-broker/03-03-runtime-operations.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

hopefully final fixes
  docs/kyma-environment-broker/03-15-trial-cleanup-cronjob.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

Update docs/kyma-environment-broker/03-15-trial-cleanup-cronjob.md
  docs/kyma-environment-broker/03-15-trial-cleanup-cronjob.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

Update docs/kyma-environment-broker/03-15-trial-cleanup-cronjob.md
  docs/kyma-environment-broker/03-15-trial-cleanup-cronjob.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

Update docs/kyma-environment-broker/03-15-trial-cleanup-cronjob.md
  docs/kyma-environment-broker/03-15-trial-cleanup-cronjob.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

Documentation for trial cleaner job (#2011)
  docs/kyma-environment-broker/03-15-trial-cleanup-cronjob.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

Update KMC image
  resources/kcp/values.yaml
Owners: @PK85, @akgalwas, @janmedrek, @franpog859, @ralikio, @mvshao, @VOID404, @piotrmiskiewicz, @szwedm, @koala7659, @k15r, @marcobebway, @nachtmaar, @wozniakjan, @hanngos, @tillknuesting, @ebensom, @tobiscr, @pbochynski, @varbanv, @m00g3n, @dbadura, @pPrecel, @kwiatekus, @moelsayed, @cortey, @pxsalehi, @clebs, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @jakobmoellersap, @adityabhatia, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto

Delete commerce test from skr nightly
  docs/kyma-environment-broker/03-03-runtime-operations.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

Change way of storing finishedstages
  docs/kyma-environment-broker/03-03-runtime-operations.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

Update docs
  docs/kyma-environment-broker/03-03-runtime-operations.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

Update docs
  docs/kyma-environment-broker/03-03-runtime-operations.md
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952

bump go.uber.org/zap and github.com/onsi/gomega
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
Owners: @k15r, @lilitgh, @marcobebway, @nachtmaar, @pxsalehi, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto

bump kmc image
  resources/kcp/values.yaml
Owners: @PK85, @akgalwas, @janmedrek, @franpog859, @ralikio, @mvshao, @VOID404, @piotrmiskiewicz, @szwedm, @koala7659, @k15r, @marcobebway, @nachtmaar, @wozniakjan, @hanngos, @tillknuesting, @ebensom, @tobiscr, @pbochynski, @varbanv, @m00g3n, @dbadura, @pPrecel, @kwiatekus, @moelsayed, @cortey, @pxsalehi, @clebs, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @jakobmoellersap, @adityabhatia, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto

removing oidc-kubeconfig-service as it will be managed by argo-cd (#2013)
  installation/resources/installer-cr.yaml.tpl
Owners: @PK85, @akgalwas, @janmedrek, @franpog859, @ralikio, @mvshao, @VOID404, @koala7659, @piotrmiskiewicz, @szwedm, @wozniakjan, @hanngos, @tillknuesting

add userID when sending upgrade nofication msg (#2009)
  components/kubeconfig-service/pkg/authn/middleware.go
  resources/oidc-kubeconfig-service/values.yaml
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/command/send_slack_notification.go
  tools/cli/pkg/command/upgrade_cluster.go
  tools/cli/pkg/command/upgrade_kyma.go
  tools/cli/pkg/credential/manager.go
Owners: @ebensom, @life0215, @lumi017, @AdrianPei, @lauraanddolay, @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @m00g3n, @dbadura, @pPrecel, @kwiatekus, @moelsayed, @cortey, @ralikio, @hanngos, @tillknuesting

Bumping Reconciler:\n\nNo eu.gcr.io/kyma-project/incubator/reconciler/ changes.\n\n
  resources/kcp/values.yaml
Owners: @PK85, @akgalwas, @janmedrek, @franpog859, @ralikio, @mvshao, @VOID404, @piotrmiskiewicz, @szwedm, @koala7659, @k15r, @marcobebway, @nachtmaar, @wozniakjan, @hanngos, @tillknuesting, @ebensom, @tobiscr, @pbochynski, @varbanv, @m00g3n, @dbadura, @pPrecel, @kwiatekus, @moelsayed, @cortey, @pxsalehi, @clebs, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @jakobmoellersap, @adityabhatia, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto

Change way of storing finishedstages
  components/kyma-environment-broker/internal/model_test.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Change way of storing finishedstages
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/model_test.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Change way of storing finishedstages
  docs/kyma-environment-broker/03-03-runtime-operations.md
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @klaudiagrz, @mmitoraj, @majakurcius, @NHingerl, @grego952, @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Change way of storing finishedstages
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/model_test.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

wip
  components/kyma-environment-broker/internal/storage/driver/postsql/conflict_test.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance_test.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation_test.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

wip
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/deprovisioning_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_without_kyma_step.go
  components/kyma-environment-broker/internal/runtime/handler_test.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

wip
  components/kyma-environment-broker/internal/appinfo/runtime_info_test.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/instance_get_test.go
  components/kyma-environment-broker/internal/broker/instance_last_operation_test.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/manager_test.go
  components/kyma-environment-broker/internal/process/update/initialisation_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/initialisation_test.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/upgrade_cluster_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
  components/kyma-environment-broker/internal/runtime/handler_test.go
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion_test.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

fmt
  components/kyma-environment-broker/internal/process/provisioning/enable_for_trial_step.go
  components/kyma-environment-broker/internal/process/provisioning/external_eval_step.go
  components/kyma-environment-broker/internal/process/provisioning/runtime_tags_step.go
  components/kyma-environment-broker/internal/process/provisioning/skip_for_trial_step.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

wip
  components/kyma-environment-broker/internal/process/staged_manager.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

wip
  components/kyma-environment-broker/internal/metrics/step_result.go
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

bump
  resources/kcp/charts/kyma-environment-broker/values.yaml
Owners: @PK85, @piotrmiskiewicz, @szwedm, @wozniakjan, @ebensom, @ralikio, @hanngos, @tillknuesting

Bumping Reconciler:\n\nNo eu.gcr.io/kyma-project/incubator/reconciler/ changes.\n\n (#2002)
  resources/kcp/values.yaml
Owners: @PK85, @akgalwas, @janmedrek, @franpog859, @ralikio, @mvshao, @VOID404, @piotrmiskiewicz, @szwedm, @koala7659, @k15r, @marcobebway, @nachtmaar, @wozniakjan, @hanngos, @tillknuesting, @ebensom, @tobiscr, @pbochynski, @varbanv, @m00g3n, @dbadura, @pPrecel, @kwiatekus, @moelsayed, @cortey, @pxsalehi, @clebs, @jeremyharisch, @khlifi411, @Tomasz-Smelcerz-SAP, @ruanxin, @jakobmoellersap, @adityabhatia, @mfaizanse, @friedrichwilken, @vladislavpaskar, @raypinto
